
{{#each product}}

<h1>Based on your survey results, here are the investment products we recommend:</h1>

<h2>Name: {{this.mutual_fund_name}}</h2>
<h2>Fund Sector: {{this.fund_sector}}</h2>
<h2>Growth Rate: {{this.growth_rate}}</h2>
<h2>Fund Description: {{this.description}} </h2>

{{/each}}
