<section class="hero-section">
    <div class="container">
		<h2>Survey</h2>
            <span>Invest Time in Your Future</span>
	</div>

<div class="container">

    <div id="survey"></div>

    <div id="status" class="text-center">
        <div class="status-text"></div>
        <div class="status-bar">
            <div class="bar"></div>
        </div>
        <p class="text-center mt-5 mb-4"><a class="completeSurvey button disabled" href="/results">Click for Results</a></p>
    </div>
</div>

<div id="results-modal" class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog"
    aria-labelledby="myLargeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="matching-results">
                <h3>Congratulations. You've completed your risk assessment!</h3>
                <div id="match-img"></div>
                <h1 id="match-name"></h1>
                <p class="search mt-4"></p>
            </div>
        </div>
</div>
</div>
</section>
</section>

<!-- include jQuery library -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js">
</script>
<script src="/static/js/scripts.js"></script>
