<section class="banner-area1 " id="home">

   <div class="overlay1"></div>
<div class="container d-flex flex-column justify-content-between vh-100">
  <div class="row justify-content-center mt-5">
    <div class="col-xl-5 col-lg-6 col-md-10 card-border">
      <div class="card">
        <div class="card-header  colorWhite">
          <div class="app-brand">
            <a href="/">
              <img src="../assets/img/logo.png" class="brand-icon" preserveAspectRatio="xMidYMid" width="40"
                height="40" viewBox="0 0 40 40">
              <span class="brand-name text-center sigBrandName"> MIND STOCK</span>
            </a>
          </div>
        </div>
        <div class="card-body p-5">
          <form id="signin" name="signin" method="post" action="signin">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email">
            </div>
            <div class="form-group">
              <label for="exampleInputPassword1">Password</label>
              <input type="password" name="password" class="form-control" id="exampleInputPassword1"
                placeholder="Password">
            </div>
            <button type="submit" class="btn btn-primary">Sign In</button>
            <p>Don't have an account yet ?
              <a class="text-blue" href="/signup">Sign Up</a>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
</section>