<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {{!-- CSS --}}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
    <link rel="stylesheet" type='text/css' href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" type='text/css' href="/static/css/font-awesome.min.css">
    <link rel="stylesheet" type='text/css' href="/static/css/themify-icons.css">
    <link rel="stylesheet" type='text/css' href="/static/css/animate.css">
    <link rel="stylesheet" type='text/css' href="/static/css/owl.carousel.css">
    <link rel="stylesheet" type='text/css' href="/static/css/style.css">
    <link rel="stylesheet" type='text/css' href="/static/css/styles.css">

    <title>{{title}}</title>

</head>

<body>

    {{>header}} {{{ body }}}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/js/newsticker.js"></script>
    <script src="/static/js/investments.js"></script>



</body>

</html>