@import url(https://fonts.googleapis.com/css?family=Montserrat);
body {
 scale: 1;
}

.ticker {
  overflow: hidden;
  width: 100%;
  padding: 5px 0 120px;
  position: fixed;
  bottom: -50px;
  left: 0;
  font-family: 'Montserrat', Arial;
}

.ticker-logo-channel {
  position: absolute;
  top: -20px;
  left: 20px;
  color: #ffffff;
  font-size: 160px;
  font-weight: bold;
  font-style: italic;
}

.ticker-logo {
  position: absolute;
  top: 40px;
  left: 30px;
  z-index: 10;
}

.ticker-logo:before {
  display: table;
  content: "";
  width: 260px;
  height: 91px;
  position: absolute;
  top: 2px;
  left: -50px;
  /* W3C */
}

.ticker-tip {
  width: 100%;
  padding: 6px 0;
  margin-left: 200px;
  box-shadow: inset 0 -3px 3px rgba(255, 255, 255, 0.5);
  color: #ffffff;
  -webkit-transform: skew(-45deg, 0);
          transform: skew(-45deg, 0);
}

.ticker-tip-info {
  margin-left: 50px;
  position: relative;
  -webkit-transform: skew(45deg, 0);
          transform: skew(45deg, 0);
}

.icon-info {
  display: block;
  padding: 0px 10px;
  border-radius: 50%;
  border: 3px solid #ffffff;
  position: absolute;
  top: -6px;
  left: -45px;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}

.ticker-title {
  width: 2500px;
  margin-top: 5px;
  padding-bottom: 5px;
  font-size: 20px;
  text-transform: uppercase;
  text-shadow: 0 0 2px #065b70;
  /* W3C */
}

.ticker-title > * {
  display: inline-block;
  margin-right: 50px;
  -webkit-animation: title 6s infinite linear;
  animation: title 6s infinite linear;
}

@-webkit-keyframes title {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-233px);
            transform: translateX(-233px);
  }
}

@keyframes title {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX();
  }
  100% {
    -webkit-transform: translateX(-233px);
            transform: translateX(-233px);
  }
}
.ticker-news {
  width: 7000px;
  padding: 10px 0;
  color: #ffffff;
  font-size: 36px;
  text-transform: uppercase;
  text-shadow: 0 0 5px black;
}

.ticker-news > * {
  display: inline-block;
  -webkit-animation: news 20s infinite linear;
          animation: news 20s infinite linear;
}

@-webkit-keyframes news {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-4135px);
            transform: translateX(-4135px);
  }
}

@keyframes news {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(-4135px);
            transform: translateX(-4135px);
  }
}
