  <header class="header-section stick-top">
        <div class="container-fluid">
            <a href="index.html" class="site-logo">
                <!-- <img src="img/logo.png" alt=""> -->
            </a>
            <div class="responsive-bar"><i class="fa fa-bars"></i></div>
            <a href="" class="user"><i class="fa fa-user"></i></a>
            <a href="" class="site-btn">Sign Up Free</a>
            <nav class="main-menu">
                <ul class="menu-list">
                    <li><a href="/index">Home</a></li>
                    <li><a href="/learn">Learn More</a></li>
            
                </ul>
            </nav>
        </div>
    </header>
